<ul class="nav justify-content-end">

    {% for item in params.mainNav %}
        <li class="nav-item">
            <a class="nav-link" href="{{ item.href }}">{{ item.label }}</a>
        </li>
    {% endfor %}
</ul>

<script>
</script>