{% extends "template.njk" %}


{% block content %}
    {% from "./components/header/macro.njk" import mainNavbar %}

    {{ mainNavbar(configData) }}

    <h1 class="test">This is the about page!!</h1>
{% endblock %}

{% block footer %}
    {% from "./components/footer/macro.njk" import footerNav %}

    {{ footerNav(configData) }}
{% endblock %}

{% block bodyEnd %}
{% endblock %}