{% extends "template.njk" %}

{% block content %}
    {% from "./components/header/macro.njk" import mainNavbar %}

    {{ mainNavbar(configData) }}

    <h1>Hello world!</h1>
{% endblock %}

{% block bodyEnd %}
{% endblock %}