{% extends "template.njk" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row centerOnPage">
                <div class="govuk-grid-column-two-thirds">


                    {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
                    {% from "govuk/components/input/macro.njk" import govukInput %}
                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    <form action="/signup" method="post">



                        {% call govukFieldset({
                            legend: {
                                text: "Create a new account",
                                classes: "govuk-fieldset__legend--l",
                                isPageHeading: true
                            }
                        }) %}

                            {{ govukInput({
                                label: {
                                    text: "First name"
                                },
                                id: "first-name",
                                name: "firstName"
                            }) }}

                            {{ govukInput({
                                label: {
                                    text: "Last name"
                                },
                                id: "last-name",
                                name: "lastName"
                            }) }}

                        {% endcall %}

                        {% call govukFieldset({
                            legend: {
                                text: "Email address",
                                classes: "govuk-fieldset__legend--m"
                            }
                        }) %}

                            {{ govukInput({
                                label: {
                                    text: "Email"
                                },
                                id: "email",
                                name: "email",
                                type: "email"
                            }) }}

                        {% endcall %}

                        {% call govukFieldset({
                            legend: {
                                text: "Create a password",
                                classes: "govuk-fieldset__legend--m"
                            }
                        }) %}

                            {{ govukInput({
                                label: {
                                    text: "Password"
                                },
                                id: "password",
                                name: "password",
                                type: "password"
                            }) }}

                            {{ govukInput({
                                label: {
                                    text: "Confirm Password"
                                },
                                id: "password2",
                                name: "password2",
                                type: "password"
                            }) }}

                        {% endcall %}

                        {{ govukButton({
                            text: "Create account"
                        }) }}

                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
