<footer class="govuk-footer {%- if params.classes %} {{ params.classes }}{% endif %}" role="contentinfo"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="govuk-width-container {%- if params.containerClasses %} {{ params.containerClasses }}{% endif %}">
    {% if params.navigation | length %}
      <div class="govuk-footer__navigation">
        {% for nav in params.navigation %}
          <div class="govuk-footer__section govuk-grid-column-{{ nav.width | default("full", true) }}">
            <h2 class="govuk-footer__heading govuk-heading-m">{{ nav.title }}</h2>
            {% if nav.items | length %}
              {% set listClasses = "govuk-footer__list--columns-" + nav.columns if nav.columns %}
              <ul class="govuk-footer__list {%- if listClasses %} {{ listClasses }}{% endif %}">
                {% for item in nav.items %}
                  {% if item.href and item.text %}
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
                        {{ item.text }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <hr class="govuk-footer__section-break">
    {% endif %}
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        {% if params.meta %}
          <h2 class="govuk-visually-hidden">{{ params.meta.visuallyHiddenTitle | default("Support links", true) }}</h2>
          {% if params.meta.items | length %}
            <ul class="govuk-footer__inline-list">
              {% for item in params.meta.items %}
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="{{ item.href }}" {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
                    {{ item.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if params.meta.text or params.meta.html %}
            <div class="govuk-footer__meta-custom">
              {{ params.meta.html | safe if params.meta.html else params.meta.text }}
            </div>
          {% endif %}
        {% endif %}
        <span class="govuk-footer__licence-description">
          {% if params.contentLicence.html or params.contentLicence.text %}
            {{ params.contentLicence.html | safe if params.contentLicence.html else params.contentLicence.text }}
          {% else %}
              Contains public sector information licensed under the            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license"
            >Open Government Licence v3.0</a>, This is a personal project built using the GDS framework
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</footer>
